server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://35.194.43.217.nip.io"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        # 1. МАРШРУТ ДЛЯ СТАТИКИ (JS, CSS, картинки)
        - id: react-static
          uri: http://react-frontend:80
          predicates:
            - Path=/static/**, /favicon.ico, /manifest.json, /logo*.png

        # 2. МАРШРУТ ДЛЯ ФРОНТЕНДУ (Додано /default для обробки редіректів)
        - id: react-frontend
          uri: http://react-frontend:80
          predicates:
            - Path=/app/**, /default/**, /login/**
          filters:
            - RewritePath=/(app|default|login)/(?<segment>.*), /$\{segment}

        # 3. МАРШРУТ ДЛЯ БЕКЕНДУ (BOOKS)
        - id: books-service
          uri: http://books-service:8082
          predicates:
            - Path=/api/book/**, /api/author/**